@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hello Youngjin World!</h1>
<div>I am expecting to write something on here...</div>

